

/* Definindo as variáveis de cor e fonte */
:root {
  --cor-primaria: #000000;
  --cor-secundaria: #ffffff;
  --cor-terciaria: #DB592A;
  --cor-gradiente-lilas: linear-gradient(297deg, rgba(85,15,116,1) 17%, rgba(170,45,253,1) 64%);
  --cor-hover: #272727;
  --font-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  background: url(/‎img/rm183-nunny-49.jpg) no-repeat center center fixed;
  background-size:cover;
  color: var(--cor-secundaria);
  font-family: var(--font-secundaria);
  position: relative;
}

.cabeçalho {
  font-size: 3rem;
  font-weight: bold;
  color: var(--cor-terciaria);
  text-align: center;
  margin-bottom: 20px;
  padding: 5%;
  background: rgb(144,61,200);
background: radial-gradient(circle, rgba(144,61,200,1) 0%, rgba(67,8,93,1) 58%, rgba(37,17,52,1) 100%);
}


/* Estilo da apresentação*/
.apresentacao {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 5%;
  max-width: 90%;
  background: linear-gradient(135deg, rgba(85, 15, 116, 0.8), rgba(170, 45, 253, 0.8)); /* Gradiente suave */
  flex-direction: row;
  gap: 50px;  /* Adiciona espaçamento entre a imagem e o texto */
  border-radius: 15px; /* Bordas arredondadas para suavizar a apresentação */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidade */
  margin: 10px 50px  ;
}
.apresentacao:hover {
  transition: transform 0.3s ease-in-out;  /* Zoom suave ao passar o mouse */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.apresentacao__perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
}

.apresentacao__conteudo__texto {
  font-size: 2rem;
  margin: auto;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(50, 50, 50, 0.8);  /* Fundo suave para o texto */
  font-weight: 300;
  padding: 15px;
  border-radius: 15px; /* Bordas arredondadas no bloco de texto */
  max-width:100%;
  width: auto;
  height: 200px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.apresentacao__conteudo__texto strong {
  color: var(--cor-terciaria);
  font-weight: 600; /* Destacar palavras fortes */
}
.apresentacao__conteudo__texto p {
  margin-bottom: 20px; /* Espaço entre parágrafos */
} 

.apresentacao__conteudo__texto:hover {
  transition: transform 0.3s ease-in-out;  /* Zoom suave ao passar o mouse */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.imagem_perfil {
  width: 280px; /* Imagem um pouco maior */
  height: 280px;
  border-radius: 50%; /* Manter imagem circular */
  border: 2px solid var(--cor-terciaria);
  object-fit: cover;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); /* Sombrinha suave para a imagem */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Efeito suave */
  margin-right: 30px;  /* Adiciona margem à direita da imagem */  
}

.imagem_perfil:hover {
  transform: scale(1.1);  /* Zoom suave ao passar o mouse */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}
/* Estilo da seção Sobre Mim */
 .sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  margin-top: 40px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(85, 15, 116, 0.8), rgba(170, 45, 253, 0.8)); /* Gradiente suave */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidade */
}
.sobre:hover {
  transform: scale(1.1);  /* Zoom suave ao passar o mouse */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.sobre__titulo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--cor-terciaria);
  text-align: center;
  margin-bottom: 20px;
}

.sobre__texto {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--cor-secundaria);
  text-align: justify;
}
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__links__botao {
    width: 80%;
  }

  .habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c5fa;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    margin: 40px auto 50px;
  }
  .habilidades_subtitulo{
    padding:30px;
    font-size: large;
  }
  
  .imagem__habilidades {
    width: 500px; /* Tamanho ajustado*/ 
    height: 350px;
    
  }
  .imagem__habilidades:hover {
    transition: transform 0.3s ease, filter 0.3s ease;  /* Zoom suave ao passar o mouse */
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
  }

  /* Estilo do rodapé */
.rodape {
  color: var(--cor-primaria);
  font-weight: bold;
  background: rgb(144,61,200);
  background: radial-gradient(circle, rgba(144,61,200,1) 0%, rgba(67,8,93,1) 58%, rgba(37,17,52,1) 100%);
  padding: 5px;
  text-align: center;
  font-family: var(--font-secundaria);
  font-size: 0.6rem;

}
.imagem_icone {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}
.apresentacao__links {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  text-align: center; /* Garante que o texto fique centralizado */
  margin-top: 40px; /* Adiciona mais espaço entre os botões e o restante do conteúdo*/ 
  padding-bottom: 40px; /* Garante que não fiquem colados no rodapé*/
}
.apresentacao__links__subtitulo {
  font-size: 2rem; /* Ajusta o tamanho do subtítulo */
  font-weight: bold; /* Deixa o texto mais destacado */
  margin-bottom: 10px; /* Espaço entre o subtítulo e os botões*/ 
  color: var(--cor-terciaria);
}

.apresentacao__links__botoes {
  display: flex; /* Coloca os botões lado a lado */
  gap: 6px; /* Espaço entre os botões */
  flex-wrap: nowrap; /* Para que os botões fiquem responsivos em telas menores*/ 
  justify-content: center;
  margin: auto;
}

.apresentacao__links__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 100px; /* Largura para os botões */
  padding: 3px 5px; /* Ajuste do preenchimento interno do botão */
}

.apresentacao__links__botao:hover {
 
  transform: scale(1.05);
  box-shadow: 3px 3px 15px rgba(93, 96, 97, 0.6);
}
@media (max-width: 768px) {
  /* Ajustar o layout da apresentação */
  .apresentacao {
    flex-direction: column; /* Muda para coluna em telas menores */
    padding: 2%;
    gap: 20px;
  }

  .imagem_perfil {
    width: 180px; /* Imagem menor em telas pequenas */
    height: 180px;
    margin-bottom: -10px; /* Aproxima mais do conteúdo */
  }

  .sobre {
    padding: 20px; /* Reduz o padding */
  }
  .apresentacao__conteudo__texto {
    font-size: 1.3rem; /* Ajusta o tamanho do texto */
    width: 90%; /* Mantém responsivo */
  }

  .habilidades {
    flex-direction: column; /* Coloca os itens em coluna em telas menores */
  }

  .imagem__habilidades {
    width: 100%; /* Torna a imagem 100% da largura em telas pequenas */
    height: auto; /* Mantém a proporção da imagem */
  }

  .apresentacao__links__botoes {
    flex-direction:row; /* Organiza os botões em coluna */
  }
}

@media (max-width: 480px) {
  .cabeçalho {
    font-size: 2rem; /* Ajusta o tamanho da fonte para cabeçalho */
  }

  .sobre__titulo {
    font-size: 1.5rem; /* Ajusta o tamanho da fonte no título */
  }

  .sobre__texto {
    font-size: 1rem; /* Ajusta o tamanho da fonte do texto */
  }

  .apresentacao__conteudo__texto {
    font-size: 1rem; /* Ajusta o tamanho da fonte do texto */
    width: 65%; /* Garante que o bloco de texto ocupe toda a largura */
    height: auto; /* Ajusta a altura do bloco */
  }
}
